@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

abbr {
  align-items: center;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  margin-right: 5px;
  text-decoration: none;
  width: 30px;
}

body {
  background: linear-gradient(to bottom, rgb(240 240 240), rgb(210 210 210));
  color: rgb(30 30 30);
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  min-height: 100vh;
  padding: 0 5px;
}

header {
  padding-top: 100px;
  text-align: center;
}

main {
  margin: 0 auto;
  width: fit-content;
}

section {
  background-color: rgb(240 240 240);
  border-radius: 2px;
  box-shadow: 0 0 4px 0 rgba(0 0 0 / 40%);
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.bg-red {
  background-color: rgb(210 60 60);
}

.bg-green {
  background-color: rgb(60 210 60);
}

.bg-blue {
  background-color: rgb(60 60 210);
}

.color-values-container {
  display: flex;
  gap: 10px;
  margin: 0 auto 20px;
  width: fit-content;
}

.color-values-container > div {
  align-items: center;
  display: flex;
}

.color-circles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0 60px;
}

.color-circle {
  border: 2px dashed black;
  border-radius: 50%;
  cursor: pointer;
  height: 120px;
  margin: 0 5px 10px;
  width: 120px;
}

.color-circle:disabled {
  cursor: unset;
}

.color-circle:disabled:not([correct='true']) {
  opacity: 0.5;
}

.color-circle + div {
  visibility: hidden;
}

.color-circle:disabled + div {
  visibility: visible;
}

.rgb-code,
.hex-code {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
}

.default-button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  margin-top: 40px;
  padding: 10px;
}

.github-link {
  align-items: center;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0 0 0 / 20%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 30px;
  position: fixed;
  top: 30px;
  transition: box-shadow 0.25s ease, top 0.25s ease;
  width: 60px;
}

.github-link:hover {
  box-shadow: 0 2px 8px 0 rgba(0 0 0 / 20%);
  top: 26px;
}

.github-link > img {
  opacity: 0.75;
  width: 50px;
}

.github-link:hover > img {
  opacity: 1;
}

@media screen and (max-width: 374px) {
  .color-values-container {
    flex-direction: column;
  }

  .color-values-container > div {
    margin: 0 0 5px;
  }
}
